/* Hide unwanted buttons and elements */
#back-button, #forward-button,
#pocket-button, #scrollbutton-down,
#scrollbutton-up, #PanelUI-menu-button,
.titlebar-buttonbox-container, .tab-close-button,
#reload-button, #stop-button, #tabs-newtab-button,
.tab-secondary-label, #tabrowser-tabs .tab-context-line,
#home-button, #library-button,
.tab-icon-stack:not([pinned]), #urlbar-search-mode-indicator,
#customizableui-special-spring1, #customizableui-special-spring2,
#library-button, #statuspanel, #identity-box, #tracking-protection-icon-container
#urlbar-zoom-button, #alltabs-button, .titlebar-spacer, #star-button-box { display: none !important; }

#navigator-toolbox-background { height: 0 !important; }
#navigator-toolbox { z-index: 1; border-bottom: none !important; }
.tabbrowser-tab[fadein] { max-width: 100vw !important; border: none }

#titlebar {
	--proton-tab-block-margin: 0px !important;
	--tab-block-margin: 0px !important;
    --tab-min-height: 16px !important;
}

#TabsToolbar, .tabbrowser-tab {
	max-height: 16px !important;
	font-size: 11px !important;
    background-color: #0c0c0e !important;
}

.tab-background[selected="true"] {
    background-color: #242430 !important;
  }

#browser {
    margin-top: 13px !important;
  }

#nav-bar {
  opacity: 0 !important;
  transition: height 200ms ease-in-out, opacity 175ms ease-in-out;
}

#nav-bar:hover,
#nav-bar:focus-within {
  height: 24px;
  opacity: 1 !important;
  transition: opacity 175ms ease-in-out;
}
